<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.6/js/dx.all.js"></script>
 


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/typicons/typicons.css">
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />



</head>
<style>
    @media screen and (min-width: 100px) and (max-width: 599px) {
        .move {
            margin-bottom: 5px !important;
            height: 50px !important;
        }

        .lessmargin {
            margin-bottom: 5px !important;

        }

        .smallfont {
            width: 75px;
            font-size: 8px !important;
            margin-left: 0px !important;
        }

        .smallfont2 {
            width: 75px;
            font-size: 7px !important;
            margin-left: 0px !important;
        }
    }



    @media screen and (min-width: 600px) and (max-width: 992px) {


        .smallfont {
            width: 150px;
        }
    }

    @media screen and (min-width: 993px) {
        .smallfont {
            width: 150px;
        }

    }

    .btn-primary {
        background-color: #1F3BB3 !important;
        border-color: #1F3BB3 !important;
    }

    .dropdown-toggle {
        background-color: #1F3BB3 !important;
        border-color: #1F3BB3 !important;
    }



    @media screen and (max-width: 1235px) {

        .fixdatebox {
            display: grid !important;
        }

        .fixbtn {
            margin-top: 5px;
        }

        .fixfont {}

        .fixsearch {
            margin-bottom: 80px;
        }
    }
</style>

<body class="dx-viewport">
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="index.html">
                        <img src="images/logo.svg" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="index.html">
                        <img src="images/logo-mini.svg" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">

                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text">Prime Solution's <span class="text-black fw-bold">Dashboard</span></h1>
                        <h3 class="welcome-sub-text">Company Dashboard</h3>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator" id="countDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="icon-bell"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                            aria-labelledby="countDropdown">
                            <a href="notification.html" class="dropdown-item py-3">
                                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                                <span class="badge badge-pill badge-primary float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="Profile image"> </a>
                    </li>
                </ul>

                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>

            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="customer.html">
                            <i class="menu-icon mdi mdi-account-multiple-outline"></i>
                            <span class="menu-title">Customer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="project.html">
                            <i class="menu-icon mdi mdi-card-text-outline"></i>
                            <span class="menu-title">Project</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="alluser.html">
                            <i class="menu-icon mdi mdi-face"></i>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="product.html">
                            <i class="menu-icon mdi mdi-briefcase"></i>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>

                    <li class="nav-item nav-category">Account</li>

                    <li class="nav-item">
                        <a class="nav-link" href="account.html">
                            <i class="menu-icon mdi mdi-account-box-outline"></i>
                            <span class="menu-title">My Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="setting.html">
                            <i class="menu-icon mdi mdi-settings"></i>
                            <span class="menu-title">Setting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">
                            <i class="menu-icon mdi mdi-logout-variant"></i>
                            <span class="menu-title">Logout</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">

                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <div class=" input-group ">
                                            <input type="text" class="form-control" placeholder="Recipient's username"
                                                aria-label="Recipient's username">
                                            <button class="btn btn-sm btn-primary" type="button"
                                                style="color: aliceblue;">Search</button>
                                        </div>
                                    </div>
                                    <div class="form-group col-auto mr-auto">
                                        <div class="form-group col-auto mr-auto">
                                            <div class="dropdown">
                                                <button style="color: aliceblue;"
                                                    class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuSizeButton3" data-bs-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Sort by </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                                                    <a class="dropdown-item" href="#name">Name</a>
                                                    <a class="dropdown-item" href="#band">Band</a>
                                                    <a class="dropdown-item" href="#category">Category</a>
                                                    <a class="dropdown-item" href="#distributer">Distributor</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-auto  ">
                                        <div class=" ">
                                            <a href="addproduct.html">
                                                <button style="color: aliceblue; height: 9.5mm;" type="button"
                                                    class="btn btn-primary btn-sm">Add Product</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group col-auto  ">
                                        <div class=" ">
                                            <a href="xxx">
                                                <button style="color: aliceblue;  height: 9.5mm;" type="button"
                                                    class="btn btn-primary btn-sm">Download</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">

                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Product Table</h4>
                                            <p>รวมรายการสินค้าที่มีในระบบ</p>
                                            <div class="table-responsive">
                                                <div class="col-lg-12 grid-margin stretch-card">
                                                    <div class="demo-container">
                                                        <div id="gridContainer"></div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Methatical's
                            Dashboard</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All
                            rights
                            reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>





        </div>

    </div>
    
    <script>
$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: employees,
        keyExpr: "ID",
        showBorders: true,
        sorting: {
            mode: "multiple"
        },
        columns: [ 
            { 
                dataField: "Prefix",
                caption: "Title",
                width: 70
            }, {
                dataField: "FirstName",
                sortOrder: "asc"
            }, {
                dataField: "LastName",
                sortOrder: "asc"
            }, "City",
            "State", {
                dataField: "Position",
                width: 130
            }, {
                dataField: "HireDate",
                dataType: "date"
            }
        ]
    }).dxDataGrid("instance");
    
    
    $("#positionSorting").dxCheckBox({
        value: false,
        text: "Disable Sorting for the Position Column",
        onValueChanged: function(data) {
            dataGrid.columnOption(5, "sortOrder", undefined);
            dataGrid.columnOption(5, "allowSorting", !data.value);
        }
    });
});

var employees = [{
    "ID" : 1,
    "FirstName" : "Patchara",
    "LastName" : "Heart",
    "Phone" : "(213) 555-9392",
    "Prefix" : "Mr.",
    "Position" : "CEO",
    "BirthDate" : "1964-03-16",
    "HireDate" : "1995-01-15",
    "Email" : "jheart@dx-email.com",
    "Address" : "351 S Hill St.",
    "City" : "Los Angeles",
    "StateID" : 5,
    "State" : "California",
    "HomePhone" : "(213) 555-9208",
    "Skype" : "jheartDXskype"
}, {
    "ID" : 2,
    "FirstName" : "Olivia",
    "LastName" : "Peyton",
    "Phone" : "(310) 555-2728",
    "Prefix" : "Mrs.",
    "Position" : "Sales Assistant",
    "BirthDate" : "1981-06-03",
    "HireDate" : "2012-05-14",
    "Email" : "oliviap@dx-email.com",
    "Address" : "807 W Paseo Del Mar",
    "City" : "Los Angeles",
    "StateID" : 5,
    "State" : "California",
    "HomePhone" : "(310) 555-4547",
    "Skype" : "oliviapDXskype"
}, {
    "ID" : 3,
    "FirstName" : "Robert",
    "LastName" : "Reagan",
    "Phone" : "(818) 555-2387",
    "Prefix" : "Mr.",
    "Position" : "CMO",
    "BirthDate" : "1974-09-07",
    "HireDate" : "2002-11-08",
    "Email" : "robertr@dx-email.com",
    "Address" : "4 Westmoreland Pl.",
    "City" : "Bentonville",
    "StateID" : 4,
    "State" : "Arkansas",
    "HomePhone" : "(818) 555-2438",
    "Skype" : "robertrDXskype"
}, {
    "ID" : 4,
    "FirstName" : "Greta",
    "LastName" : "Sims",
    "Phone" : "(818) 555-6546",
    "Prefix" : "Ms.",
    "Position" : "HR Manager",
    "BirthDate" : "1977-11-22",
    "HireDate" : "1998-04-23",
    "Email" : "gretas@dx-email.com",
    "Address" : "1700 S Grandview Dr.",
    "City" : "Atlanta",
    "StateID" : 11,
    "State" : "Georgia",
    "HomePhone" : "(818) 555-0976",
    "Skype" : "gretasDXskype"
}, {
    "ID" : 5,
    "FirstName" : "Brett",
    "LastName" : "Wade",
    "Phone" : "(626) 555-0358",
    "Prefix" : "Mr.",
    "Position" : "IT Manager",
    "BirthDate" : "1968-12-01",
    "HireDate" : "2009-03-06",
    "Email" : "brettw@dx-email.com",
    "Address" : "1120 Old Mill Rd.",
    "City" : "Boise",
    "StateID" : 13,
    "State" : "Idaho",
    "HomePhone" : "(626) 555-5985",
    "Skype" : "brettwDXskype"
}, {
    "ID" : 6,
    "FirstName" : "Sandra",
    "LastName" : "Johnson",
    "Phone" : "(562) 555-2082",
    "Prefix" : "Mrs.",
    "Position" : "Controller",
    "BirthDate" : "1974-11-15",
    "HireDate" : "2005-05-11",
    "Email" : "sandraj@dx-email.com",
    "Address" : "4600 N Virginia Rd.",
    "City" : "Beaver",
    "StateID" : 44,
    "State" : "Utah",
    "HomePhone" : "(562) 555-8272",
    "Skype" : "sandrajDXskype"
}, {
    "ID" : 7,
    "FirstName" : "Kevin",
    "LastName" : "Carter",
    "Phone" : "(213) 555-2840",
    "Prefix" : "Mr.",
    "Position" : "Shipping Manager",
    "BirthDate" : "1978-01-09",
    "HireDate" : "2009-08-11",
    "Email" : "kevinc@dx-email.com",
    "Address" : "424 N Main St.",
    "City" : "San Diego",
    "StateID" : 5,
    "State" : "California",
    "HomePhone" : "(213) 555-8038",
    "Skype" : "kevincDXskype"
}, {
    "ID" : 8,
    "FirstName" : "Cynthia",
    "LastName" : "Stanwick",
    "Phone" : "(818) 555-6655",
    "Prefix" : "Ms.",
    "Position" : "HR Assistant",
    "BirthDate" : "1985-06-05",
    "HireDate" : "2008-03-24",
    "Email" : "cindys@dx-email.com",
    "Address" : "2211 Bonita Dr.",
    "City" : "Little Rock",
    "StateID" : 4,
    "State" : "Arkansas",
    "HomePhone" : "(818) 555-6808",
    "Skype" : "cindysDXskype"
}, {
    "ID" : 9,
    "FirstName" : "Kent",
    "LastName" : "Samuelson",
    "Phone" : "(562) 555-9282",
    "Prefix" : "Dr.",
    "Position" : "Ombudsman",
    "BirthDate" : "1972-09-11",
    "HireDate" : "2009-04-22",
    "Email" : "kents@dx-email.com",
    "Address" : "12100 Mora Dr",
    "City" : "St. Louis",
    "StateID" : 26,
    "State" : "Missouri",
    "HomePhone" : "(562) 555-1328",
    "Skype" : "kentsDXskype"
}, {
    "ID" : 10,
    "FirstName" : "Taylor",
    "LastName" : "Riley",
    "Phone" : "(310) 555-7276",
    "Prefix" : "Mr.",
    "Position" : "Network Admin",
    "BirthDate" : "1982-08-14",
    "HireDate" : "2012-04-14",
    "Email" : "taylorr@dx-email.com",
    "Address" : "7776 Torreyson Dr",
    "City" : "San Jose",
    "StateID" : 5,
    "State" : "California",
    "HomePhone" : "(310) 555-9712",
    "Skype" : "taylorrDXskype"
}];

    </script>

    <style>
    .options {
        padding: 20px;
        margin-top: 40px;
        background-color: rgba(48, 210, 72, 0.955);
    }
    
    .caption {
        font-size: 18px;
        font-weight: 500;
    }
    
    .option {cc
        margin-top: 10px;
    }
    </style>

    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="vendors/progressbar.js/progressbar.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>